header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/image/ST.png", alt="Logo")
      .col-9
        .inner-menu.d-flex.align-items-center.justify-content-between
          ul.menu-list.mb-0
            li
              a(href="/") 
                i.fa-solid.fa-house.me-2
                | Trang chủ
            li
              a(href="/topics") 
                i.fa-solid.fa-music.me-2
                | Chủ đề
            li
              a.heart(href="/favorite-songs")
                i.fa-solid.fa-heart.me-2
                | Bài hát Yêu thích
          .search-box.position-relative.ms-4
            form.search-form.d-flex(action="/search/results", method="GET", autocomplete="off")
              input.form-control(type="text", name="keyword", value=keyword, placeholder="Tìm kiếm bài hát...")
              button.btn.btn-primary.ms-2(type="submit")
                i.fa-solid.fa-magnifying-glass
            //- Gợi ý kết quả tìm kiếm (auto-complete)
            .inner-suggest
              .inner-list
                
