header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="/image/ST.png", alt="Logo")
      .col-9
        .inner-menu.d-flex.align-items-center.justify-content-between
          ul.menu-list.mb-0
            li
              a(href="/") 
                i.fa-solid.fa-house.me-2
                | Trang chủ
            li
              a(href="/topics") 
                i.fa-solid.fa-music.me-2
                | Chủ đề
            li
              a(href="/favorite-songs" class="heart")
                i.fa-solid.fa-heart.me-2
                | Bài hát Yêu thích
          //- Thêm form tìm kiếm
          form.search-form.d-flex.ms-4(action="/search/results", method="GET")
            input.form-control(type="text", name="keyword" ,value=keyword, placeholder="Tìm kiếm bài hát...")
            button.btn.btn-primary.ms-2(type="submit")
              i.fa-solid.fa-magnifying-glass
